
body, td, div{ font-family: Tahoma; font-size: 11px;}
a {color: #28821d;}
body {width: 100%; margin: 0px; background-image:url('/images/bg_pattern.gif'); font: 11px tahoma; text-align: center;} */
h3 {font-size: 18px;}
h4 {font-size: 14px; margin-bottom: 3px; }

#outerBorder {width: 997px; margin: 0px auto; z-index: 10; position: relative;}
#outerBody {width: 997px; text-align: left; margin: 0px auto; }

#bodyContainer {width: 100%;  margin: 0px auto; text-align: left; }
#bodyLeft {width: 262px; float: left; border: 0px solid black; border-right-width: 1px; background-color: #28821d; }
#bodyRight {width: 732px; float: left; }



label {margin-right: 5px; width: 120px; display: block; float: left; }
input[type=text], input[type=password] {width: 300px; height: 17px;  font-family: tahoma; font-size: 10px;}

#disable_div {background-color: #FFFFFF; opacity:.75;filter:alpha(opacity=75); z-index: 10000;}
#boxshot_image {margin-right: 10px;}

#inputFormForm{float: left;margin: 0px auto; width: 600px; position: relative; left: 60px;}
#inputFormForm div, #data_form div {margin: 0px; margin-bottom: 3px; padding: 5px 20px; color: white; font-weight: bold; height: 16px;}
#inputFormForm .formDark, #data_form .formDark {background-color: #28821d; color: white; }
#inputFormForm .formLight {background-color: #999999; color: white;}
#inputFormForm div div.message {color: white; font-weight: normal; font-size: 9px; width: 430px; position: relative; left: 130px; margin: 0px;}

div.formDark input {font-family: Arial; font-size: 10px; height: 14px;border-width: 0px; padding-left: 2px;}
div.formDark select {font-family: Arial; font-size: 10px; height: 14px;border-width: 0px; padding-left: 2px;}

#data_form {width: 600px; position: relative; left: 60px;}
#password {margin-bottom: 5px;}

a.al {width: 33%; float: left;}
a.al_list {display: block; float: left; width:24px; text-align: center; text-decoration: none;}

#al_list_box {height: 110px; overflow:auto;}

#top_game_title {font-style: italic;}

#simple_button, #advanced_button {float: left; font-size: 10px; font-weight: normal; cursor: pointer; cursor: hand; padding: 5px; padding-left: 15px;}
#simple_button:hover, #advanced_button:hover {text-decoration: underline;}

#change_log {height: 100px; width: 558px; scrolling: auto; overflow: auto; border: 1px solid #cccccc;}

#login_form {width: 210px; margin: 0px auto; border: 1px solid #999999; padding: 10px;background-color: #FFE59A;}
#login_form label {width: 50px; height:15px; font-weight: bold; font-size: 10px; float: left;margin-top: 5px;}
#login_form input[type=text], #login_form input[type=password] {width: 153px; height:15px; float: left;border: 1px solid #CCCCCC; margin-bottom: 3px; }

#search_form label {width: 70px; height:15px; font-weight: bold; font-size: 10px; float: left;margin-top: 5px;}
#search_form input[type=text] {border: 0px solid #CCCCCC; }
#search_form select {height:15px; font-size: 10px; margin-top: 5px;}

#search_form #platforms_box label {width: 95px; float:left; border: 0px solid white; margin-right: 15px; margin-top: 0px; margin-bottom: 0px;}
#search_form #platforms_box input[type=checkbox] {float: left; margin-top: 0px; margin-bottom: 0px; margin-left: 0px;}
#rss_feeds div a {color: #FFCC33;}
#instances div a {color: #FFCC33; text-decoration: none; font-weight: bold;}
#instances div a:hover {text-decoration: underline;}

#admin_message {padding: 10px; width: 690px; background-color: #FFE59A;}
#main_message {padding: 10px; width: 690px; background-color: #FFFFFF;}

#admin_top_menu, #admin_top_logo, #admin_top_info {float: left; border:0px solid green;}
#admin_top_menu {width: 215px; float: left;}
#admin_top_info {width: 310px; float: left;}
#admin_top_logo {width: 180px; float: left;}

.contact_name {margin-bottom: 3px; font-size: 14px; font-weight: bold;}
.contact_detail {width: 50px;display: block; font-weight: bold; float: left;}

#admin_menu_outer {background-color: #000000; color: white; width:95%; }
#admin_menu_inner {background-color: white; margin: 1px; padding: 5px; color: black;}
#admin_menu_inner a, #releases_table a {text-decoration: none; color: black; }
#admin_menu_inner a:hover, #releases_table a:hover {text-decoration: underline; }
#admin_top_info b {display: block; float: left; width: 80px;}

#date_periods {float: left;}
#date_periods div {float: left; text-align: center; padding: 3px; margin:0px; color: white;}
#date_periods div select {font-size: 9px;}
#date_periods div.letter {width: 12px; font-weight: bold; margin-left: 4px; padding: 3px;}
#date_periods div.number {width: 12px; cursor:pointer; cursor: hand;padding: 3px;}
#date_periods div.number:hover {background-color: #ebebeb;}

#latest a {text-decoration: none; color: black;}
#latest a:hover {text-decoration: underline;}
#upcoming a {text-decoration: none; color: black;}
#upcoming a:hover {text-decoration: underline;}
#main_content div.mainUpcomingDayData a {text-decoration: none; color: black;}
#main_content div.mainUpcomingDayData a:hover {text-decoration: underline; }
#search a {text-decoration: none; color: black;}
#search a:hover {text-decoration: underline; }


#platform_list {border:0px solid black; text-align: center; margin: 0px auto; margin-bottom: 20px; height: 62px;}
#platform_list div.platform_image_box {border: 1px solid black; clear:both;height: 43px; width: 73px; margin-left: 2px;}
#platform_list img { filter:alpha(opacity=25);opacity:.25; float: left;  }

.platform_off {width: 78px; display: none; height: 15px; font-size: 9px;cursor: hand; cursor: pointer;}
.platform_off:hover {text-decoration: underline;}
.platform_on {color: black; width: 78px; height: 15px; font-size: 9px; cursor: hand; cursor: pointer;}
.platform_on:hover {text-decoration: underline;}

.platform_box {width: 78px; float: left;}


#inputFormForm #edit_form div.revert_div {cursor: pointer; cursor: hand; width: 50px; font-size: 9px; float: right; margin: 0px; padding: 0px; font-weight: normal;text-align: center; border: 1px solid white;position: relative; left: 15px;display:none;}

.text_version {display: none;}
input.form_version {margin: 0px;}

#searchForm{background-color: #114e08; padding-left: 1px;}
#searchForm img {margin: 2px 0px 2px 2px; border: 1px solid black;}
#searchForm label {width: auto; float: left; color: white; text-align: right; font-weight: bold; margin-right: 5px; margin-top: 3px; margin-left: 10px;}

#inputFormPlatforms{float: left; width: 155px; padding-left: 10px; }



#footerContainer {width: 997px; height: 80px; margin: 0px auto; background-color: #114E08; color: #ffffff; font-size: 10px;}
.footerLinks {color: #ffffff;}
.footerCopy {color: #FFCB3A;}
.footerHeader {background-image: url('/images/bg_bar.gif'); border: 1px solid black; border-width: 1px 0px; height: 20px; padding-top: 0px;}

.leftDiv {background-color: white;}
.leftDivContent {padding: 0px; }
#bodyleft div.leftDivContent {padding: 5px; }
#bodyRight .leftDivHeader, #header_top .leftDivHeader {background-image: url('/images/bg_bar.gif'); border: 1px solid black; border-width: 1px 0px; height: 20px; padding-top: 0px;}
#bodyLeft .leftDivHeader {background-color: #104f07; border: 1px solid black; border-width: 1px 0px; height: 20px; padding-top: 0px;}

.leftDivHeader span {padding-left: 18px; margin-left: 5px; font-size: 10px;background-image: url('/images/arrow.gif'); background-repeat: no-repeat; background-position: 5px; color: white; position: relative; top: 3px; }

.content_title {font-size: 16px; font-weight: bold; color: #28821d; }
#data_details .label { width: 120px;display: block;float: left; font-size: 12px;}
.top_label { color: #104f07; font-weight: bold;}
#details_box { padding: 10px; line-height: 15px; background-color: #d4e6d2; width: 680px;  }

#data_list, #rss_feeds, #changes {background-color: #28821d; color: white;}
#data_list a, #changes a {color: white;}
#changes a, #l_forum a {text-decoration: none;}
#changes a {color: white; color: bold;}
#l_forum a {color: black;}
#data_list a:hover, #changes a:hover {color: #FFCC33; text-decoration: underline}
#l_forum a:hover {text-decoration: underline}

div.change_divider {width: 240px; height: 3px; background-image: url('/images/dot.gif'); background-repeat: repeat-x; margin-left: 0px;}

#l_forum div.leftDivContent, #l_quote div.leftDivContent, #l_news div.leftDivContent, #latest_podcast div.leftDivContent, #rss_feeds div.leftDivContent, #changes div.leftDivContent, #latest div.leftDivContent, #upcoming div.leftDivContent {padding: 5px; position: relative;}

.mainUpcomingDay .mainUpcomingDate {border: 1px solid black; background-color: #ffcc33; font-weight: bold; padding: 5px;}
.mainUpcomingDayData {padding: 5px; background-color: #ffe59a; }

#data_image, #data_details {float: left;}
#data_publisher {width:200px; float: right;}
#data_publisher_info {background-color: black; color: white; border: 1px solid black; }
#data_publisher_info_inner {background-color: white;  color: black;padding: 3px;}

#menuDiv{background-color: #ffcc33; border: 1px solid black; border-width: 1px 0px; }
#menuList {margin: 0px; padding-top: 5px; padding-bottom: 5px; font-size: 12px; margin-left: -40px; *margin-left: 0px;}
#menuList li {display: inline; list-style-type: none; padding-right: 10px; padding-left: 10px; border-right: 1px solid black; z-index: 1001;}

#menuList li a {text-decoration: none; }
#menuLast {border-width: 0px; }

#logo {height: 107px; background-image: url('/images/logo.jpg'); text-align: center; color: #d4ead2;}
#logo span {position: relative; top: 66px;}

#login_form {width: 210px; margin: 0px auto; border: 1px solid #999999; padding: 10px;background-color: #FFE59A;}
#login_form label {width: 50px; height:15px; font-weight: bold; font-size: 10px; float: left;margin-top: 5px;}
#login_form input[type=text], #login_form input[type=password] {width: 153px; height:15px; float: left;border: 1px solid #CCCCCC; margin-bottom: 3px; }

#comp_form label {width: 100px; font-weight: bold; float: left;}

.menuDropdown {position: absolute; top: 96px; *top: 93px; width: 150px; background-color: #ffb400; z-index: 1000; display: none; padding: 0px; border: 1px solid black; border-top-width: 1px; border-right-width: 1px;}
.menuDropdown a {width: 100%; text-decoration: none; padding: 5px;color: #333333}
.menuDropdown a:hover {width: 100%; color: black; text-decoration:underline;}

#reviewBoxshot {float: left; margin-right: 10px; width: 100px; height: 141px;}

.text_title {font-size: 16px; margin-bottom: 10px; font-weight: bold;}
.text_subtitle {font-size: 12px; margin-bottom: 10px; font-weight: bold; color: #1e79b3;}

.faq_answers {margin-left: 20px;}

#reviewSummaryBox, #reviewBox, #searchBox, #listBox {float: left; margin-bottom: 10px; width: 647px; background-color: #192346; color: white; padding: 8px; }
#reviewSummaryBox .bold, #reviewMain .bold, #searchBox .bold, #listBox .bold {font-weight: bold; color: orange; width: 100px; display: block; float: left; }
#reviewSummaryBox h4, #reviewBox h4,  #searchBox h4, #listBox h4, #searchTable h4, #main_content h4, #normal h4 {margin-top: 0px; font-size: 18px; color: #ff9900; margin-bottom: 8px;}

.contentNav {font-size: 10px; color: #fe9900; text-decoration:none; }

#reviewBox {height:199px;}

#reviewSummaryBox {width: 690px; margin-top: 10px; }
#listBox {width: 690px;  }
#reviewContent{margin-top:5px;}

#reviewBottom .bold {width: 70px; }

#searchTable h4 {position: relative; left: 85px; color: black;}
#searchTable .noResult {position: relative; font-size: 18px; left: 85px; }

#reviewBottom {width: 530px; float:right; }
#reviewInfo1, #reviewInfo2 {width: 235px; height: 47px; float: left;}

#reviewLinks, #reviewLinks2 {width: 100%; padding-bottom: 20px;}
#reviewLinks div.link, #reviewLinks2 div.link {width: 170px; float: left; text-align: left;}
#reviewLinks div.link2, #reviewLinks2 div.link2 {width: 185px; float: left; text-align: left;}
#reviewLinks div.link3, #reviewLinks2 div.link3 {width: 150px; float: left; text-align: left;}
.reviewLinks1 {font-weight: bold; font-color: #28821d;}

table.listing {margin: 0px auto;}
table.listing td {padding: 3px; }
table.listing td a {text-decoration: none; color: black;}
table.listing td a:hover {text-decoration: underline; }

#ratingImage {float: left; margin-right: 10px; }

.upcomingEventType {font-weight: bold; color: #ffcc33; font-size: 12px;}

#search .leftDivContent {padding: 10px;}
#review .leftDivContent {padding: 10px;}
#about .leftDivContent {padding: 10px;}
#comp .leftDivContent {padding: 10px;}
#normal .leftDivContent {padding: 10px;}
#data_list div.leftDivContent {padding: 10px;}
#login div.leftDivContent {padding: 10px;}
#admin_top div.leftDivContent {padding: 10px;}
#instances .leftDivContent {padding: 10px;}
#itinerary .leftDivContent {padding: 10px;}
#contacts .leftDivContent {padding: 10px;}

#contentBlock {border: 0px solid black; float: left; width: 620px;}


#latest_podcast, #rss_feeds, #whats_new div.leftDivContent {background-color: #28821d; color: white; }
#whats_new div.leftDivContent{padding-top: 3px; }

#rss_feeds div.block {display: block; width: 100%; border: 0px solid black;}
#rss_feeds img {margin: 2px; margin-right: 6px; position: relative; top: -2px;}

#rightAd {height: 94px;}

#latest_podcast div.leftDivContent {height: 65px;}
#latest_podcast div.leftDivContent img {margin-left: 6px; margin-top: 6px; }

#news_content,#forum_content {font-size: 10px;}
#news_content, #forum_content a {text-decoration: none;}


textarea {width: 300px; height: 100px; font-family: tahoma; font-size: 10px;}
#exampleEvent {width: 350px; border: 1px solid #ccc; padding: 5px; float: left;}
#exampleEventTitle {font-weight: bold;}
#exampleLocations {border: 1px solid #ebebeb; margin:5px; padding: 5px;}
#exampleLocationsHeader {margin-bottom: 5px;}


#main_content .leftDivContent {padding: 10px;}

#editorialFull, #editorialSmall  {font-size: 12px;}


.exampleLocation{width: 100%; margin-bottom: 10px;}
.formLocation{margin-bottom: 10px; background-color:#ebebeb; padding: 5px;}

.timeField {width: 110px; }
.timeTitle {width:200px;}
.locationDescription {height: 50px; font-size: 10px;}

.endTime {float: left; display: inline; margin-left: 4px}
.startTime {float: left;display: inline;}

#inputFormForm{float: left;margin: 0px auto; width: 600px; position: relative; left: 60px;}
#inputFormForm div {margin: 0px; margin-bottom: 3px; padding: 5px 20px; color: black; font-weight: bold;}

#inputFormForm div#start_time_display, #inputFormForm div#end_time_display, #search_form div#start_time_display, #search_form div#end_time_display {float: left; padding: 0px; padding-top: 5px; font-weight: normal; color: white; }

#inputFormPlatforms{float: left; width: 155px; padding-left: 10px; }

#change_log div {padding: 0px; color: black;}

#platformCheckboxes label{}

.dataListing {width: 100%;  clear: both; }

.msgs {margin-bottom: 10px;}
.msg {border: 1px solid #ccccff; padding: 5px; background-color:#CCFFFF}

.commentOuter {border: 1px solid black; padding: 10px; margin: 10px; margin-bottom: -10px; margin-top: 0px; font-size: 11px; position: relative;}
.commentAvatar {width: 77px; float: left; position: relative; left: -1px; top: -22px; border: 0px solid black; text-align: center; font-size: 11px; margin-right: 5px; margin-bottom: -22px; }

.reviewAvatar {width: 77px; float: left; position: relative; top: -18px; border: 0px solid black; text-align: center; font-size: 11px; margin-right: 10px; margin-bottom: -8px; }
div.reviewAvatar a, div.commentAvatar a {font-weight: bold; color: #000000; font-size: 10px;text-decoration: none;}
#reviewContent {margin-top: 22px;}
#promo_image {margin:10px 0px 0px 0px; }

.caption {color: #28821d; font-weight: bold; font-size: 12px; text-align: center;}

#updateOuter{margin: 0px auto; border: 0px solid blue; width: 682px; text-align: center;}

#newsletter {height: 130px; background-image: url('/images/newsletter_bg.gif'); text-align: right; background-position: 5px 0px; background-repeat: no-repeat;}
#newsletter input {width: 140px; position: relative; left: -15px; border: 0px solid yellow; height: 20px; margin-bottom: 3px; font-family: Tahoma; font-size: 10px;}

.review_link {color: #990000; font-weight: bold; margin-right: 4px;}
.feature_link {color: #009900; font-weight: bold; margin-right: 4px;}
.comment_link {color: #003366; font-weight: bold; margin-right: 4px;}
.podcast_link {color: #ff6600; font-weight: bold; margin-right: 4px;}
.news_link {color: #003366; font-weight: bold; margin-right: 4px;}
.update_link {color: #ff9933; font-weight: bold; margin-right: 4px;}
.preview_link {color: #cc3333; font-weight: bold; margin-right: 4px;}
.questions_link {color: #0cba0c; font-weight: bold; margin-right: 4px;}
.studio_tour_link {color: #336600; font-weight: bold; margin-right: 4px;}
.interview_link {color: #009999; font-weight: bold; margin-right: 4px;}
.top_list_link {color: #999933; font-weight: bold; margin-right: 4px;}
.game_event_link {color: #669966; font-weight: bold; margin-right: 4px;}
.competition_link {color: #cc33cc; font-weight: bold; margin-right: 4px;}
.binding_link {color: #CC0000;}

.searchLabel{width: 70px; float: left;}

.quote {margin: 10px; background-color: #ebebeb; border: 1px solid #cccccc; padding: 10px;}


#toolbar {
	position: absolute;border: 1px solid #cccccc; width: 60px; text-align: center; font-size: 11px; font-family: Tahoma; background-color: #FFFFFF; display: none;
}

#toolbar div.toolbar_button, #toolbar div.toolbar_button_big {border: 1px solid #cccccc;margin: 2px; cursor: hand; cursor: pointer; padding: 2px 0px; background-color: #ebebeb;}
#toolbar div.toolbar_button {width: 25px; float: left; }
#toolbar div.toolbar_button_big {width: 54px; clear:left;}
#toolbar div.tbl {margin-right: 0px;}

/* admin section */
.label {width: 50px; font-weight: bold;}
#plusAdmin, #minusAdmin {width: 25px; text-align: center;}
#adminLink {width: 30px; text-align: center;}
#title, #admin, #short_description {font-family: Arial; font-size: 11px; height: 16px;}
#title,  #short_description {width: 420px; }
#content {width: 100%; height: 200px; font-family: Courier New, Courier; font-size: 11px;}


/*  changes for new layout */

#banner {height: 60px;background-color: red;}
#network {height: 24px;background-color: #242424; color: white; text-align: right; padding-top: 10px;}
#network a {text-decoration: none; margin: 5px; }
#header {height: 92px; }
#header_logo {width: 264px; height: 101px; float: left; background-image: url('/images/logo_bg.gif') }
#promo_background {height: 224px; width: 100%; position: absolute; background-position: 50%; left: 0px; top: 70px; z-index: 1;}
#header_top {height: 101px; border: 0px solid black; border-right-width: 1px;}
#logo_overlay {position: absolute; top: 3px; left: 0px; display: none; z-index: 100; width: 299px; height: 163px; background-repeat: no-repeat;  color: white; text-align: center;}
#logo_overlay span {margin-top: 110px; display: block;}
#whats_new {float: left; width: 732px;}
#menu_container {width: 732px;}

#body_border {border:1px solid black;background-color: white;}

/* menu styles */

#sddm
{	margin: 0;
	padding: 0;
	z-index: 30;
	}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 8px;
	width: 60px;
	background: #ffcc33;
	border: 0px solid black;
	border-right-width: 1px;
	color: #000;
	text-align: center;
	text-decoration: none;
}

#sddm li a:hover
{	background: #ffcc33}

#sddm div
{	position: absolute;
	visibility: hidden;
	width: 130px;
	margin: 0;
	padding: 0;
	background: #ffcc33;
	border: 1px solid #666666;
	}

#sddm div a
{
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	border-width: 0px;
	color: #000000;
}

#sddm div a:hover
{
	background: #ffcc33;
	color: #FFFFFF;
}



#m1,#m2,#m3,#m4,#m5,#m6 {z-index: 10000;}

/* the div that holds the date picker calendar */
.dpDiv {
	}


/* the table (within the div) that holds the date picker calendar */
.dpTable {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #505050;
	background-color: #ece9d8;
	border: 1px solid #AAAAAA;
	}


/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {
	}


/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR {
	}


/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {
	}


/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {
	}


/* a table cell that holds a date number (either blank or 1-31) */
.dpTD {
	border: 1px solid #ece9d8;
	}


/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	}


/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover {
	background-color: #aca998;
	border: 1px solid #888888;
	cursor: pointer;
	color: red;
	}


/* the table cell that holds the name of the month and the year */
.dpTitleTD {
	}


/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {
	}


/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {
	}


/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	color: white;
	}


/* additional style information for the text that indicates the month and year */
.dpTitleText {
	font-size: 12px;
	color: gray;
	font-weight: bold;
	}


/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlight {
	color: 4060ff;
	font-weight: bold;
	}


/* the forward/backward buttons at the top */
.dpButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	padding: 0px;
	}


/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	}


